<div id="about"  class="hero min-h-screen bg-[url('https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp')] pt-20">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="backdrop-blur-sm bg-white/1 rounded-xl shadow-lg p-4 max-w-3xl">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1><br>
      <p class="mb-5 text-justify">
        I'm an engineering manager with over 15 years of experience in software development and leadership.<br><br>
        I've worked on large-scale SaaS and cloud platforms for some of the biggest companies in the world, delivering solutions for markets in the US, France, Germany, and Japan.<br><br>
        I moved into leadership because I enjoy helping teams do their best work and ensuring technology supports real business needs.<br><br>
        One thing I'm especially proud of is helping close the gap between business teams and software developers, making communication clearer and collaboration smoother.<br><br>
        I've led international projects, built strong teams, and reduced staff turnover to single digits by creating a culture based on trust, ownership, and support.<br><br>
        I care about writing clean, reliable code, designing systems that scale well, and keeping the focus on outcomes that matter.
      </p>
    </div>
  </div>
</div>