<div id="experience" class="p-8 max-w-3xl mx-auto">
  <h2 class="text-5xl font-bold text-center mb-8">Experience</h2><br>
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    <li>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-start mb-10">
        <div class="md:text-end">
          <time class="font-mono italic">January 2024</time>
          <div class="text-lg font-black">PitneyBowes<br>Engineering Director</div>
        </div>
        <div class="text-justify">
          Facilitated cross-functional initiatives that enhanced product delivery efficiency and fostered a culture of continuous improvement.
          Guided organizational change efforts, partnering with stakeholders at all levels to modernize workflows and technology stacks.
          Built and scaled multidisciplinary teams across engineering, QA, and product areas, ensuring operational alignment with long-term business objectives.
          Led strategic planning and execution for multiple product lines, balancing technical innovation with customer-focused outcomes.
        </div>
      </div>
      <hr>
    </li>
    <li>
      <hr>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <div class="md:text-start">
          <time class="font-mono italic">October 2019</time>
          <div class="text-lg font-black">PitneyBowes<br>Engineering Manager</div>
        </div>
        <div class="text-justify">
          Led multiple engineering teams focused on delivering internal and external products.
          Worked across development, QA, and DevOps to build high-performing teams, modernize legacy systems, and improve software quality and speed.
          Increased product delivery speed by 30% through cross-functional collaboration, introducing agile delivery practices, and reducing handover delays.
          Reduced engineering team attrition from 18% to under 8% by introducing clear career paths, peer mentoring, and a culture of ownership and trust.
          Drove adoption of cloud-native technologies (Azure, Git) in legacy systems, cutting infrastructure costs by 20% and increasing deployment frequency by 3x
          Improved quality metrics by 35% through CI/CD automation, coding standards, and quality-focused development culture.
          Launched multiple products/features across international markets (US, France, Germany, Japan), contributing to YoY growth in customer adoption.
          Mentored over 10 team members into senior roles and helped establish a sustainable growth culture.
        </div>
      </div>
      <hr>
    </li>
    <li>
      <hr>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-start mb-10">
        <div class="md:text-end">
          <time class="font-mono italic">July 2018</time>
          <div class="text-lg font-black">PitneyBowes<br>Senior Software Development Engineer</div>
        </div>
        <div class="text-justify">
          As a senior developer, I played a key role in delivering robust, scalable solutions for global clients in the federal and enterprise space.
          I worked closely with cross-border teams and stakeholders to ensure projects were delivered with speed and quality.
          My work emphasized clean code, maintainability, and alignment with industry best practices.
          Developed and shipped multiple mission-critical modules for clients in regulated sectors, including the US federal market.
          Focused on speed and quality-consistently delivered features on time with 2% defect rate in production.
          Promoted adoption of SOLID principles and design patterns, improving maintainability and reducing code duplication by 30%
          Contributed to architecture discussions and design reviews, influencing system structure and technology choices.
          Partnered with presales and solution engineers to build early prototypes and proof-ofconcepts that helped close high-value client deals.
          Improved developer onboarding by creating internal documentation and reusable code templates.
        </div>
      </div>
      <hr>
    </li>
    <li>
      <hr>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <div class="md:text-start">
          <time class="font-mono italic">September 2015</time>
          <div class="text-lg font-black">PitneyBowes<br>Software Development Engineer</div>
        </div>
        <div class="text-justify">
          As a core contributor in the engineering team, I worked on complex enterprise applications tailored to multinational clients, including those in regulated and government sectors.
          I focused on clean, testable code and collaborated closely with QA, DevOps, and solution engineers to ensure high-quality, timely releases.
          Developed complex solutions for multinational companies and the federal government space.
          Supported presales teams with technical prototypes that helped secure new enterprise clients.
          Collaborated with cross-functional teams to ensure the successful implementation of projects.
          Reduced bug rates by 25% through rigorous unit testing and peer code reviews.
        </div>
      </div>
      <hr>
    </li><li>
      <hr>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-start mb-10">
        <div class="md:text-end">
          <time class="font-mono italic">February 2013</time>
          <div class="text-lg font-black">PitneyBowes<br>Software Support Engineer</div>
        </div>
        <div class="text-justify">
          As a support engineer, I was responsible for resolving complex technical issues and maintaining long-term relationships with customers across the US, Europe, and Asia. I worked closely with engineering, QA, and client-facing teams to ensure fast, effective solutions and a high level of customer satisfaction.
<br><br>
          Key Achievements:<br>
          • Resolved over 1,200 customer issues, achieving a 95%+ resolution rate within SLA targets.<br>
          • Maintained and nurtured customer relationships globally, acting as a trusted technical point of contact for enterprise clients.<br>
          • Diagnosed and solved issues across Windows environments, APIs, and databases, reducing escalations by 40%.<br>
          • Improved average resolution time by 30% by creating internal troubleshooting guides and reusable scripts.<br>
          • Supported patch rollouts and regression testing to ensure release stability and business continuity.<br>
          • Regularly collaborated with product and support teams in the US, India, and Europe to streamline customer feedback loops.
        </div>
      </div>
      <hr>
    </li>
    <li>
      <hr>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-end mb-10 md:text-start">
        <time class="font-mono italic">March 2009</time>
        <div class="text-lg font-black">PitneyBowes<br>Test engineer</div>
          <div class="text-justify">
            As a Test Engineer, I worked on ensuring software reliability and quality across enterprise-grade applications.
            I led customer-facing testing initiatives and focused on designing scalable test plans, introducing automation, and validating product performance under real-world scenarios.
            <br><br>
            Key Achievements:<br>

            • Led customer testing efforts for critical product lines, ensuring end-user needs were reflected in validation processes.<br>
            • Designed and executed test plans covering functionality, performance, regression, and user acceptance.<br>
            • Introduced test automation frameworks that reduced manual testing time by 40% and improved defect detection rates.<br>
            • Conducted performance and penetration testing to meet security and reliability standards.<br>
            • Collaborated closely with developers and business analysts to improve test coverage and ensure clear understanding of requirements.<br>
            • Created detailed test documentation and reporting, which improved issue tracking and cross-team communication.
          </div>
        </div>
    </li>
  </ul>
</div> 